@import "tailwindcss";

html {
  scroll-behavior: smooth;
  
}
html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
}
body {
  
  background-color: #020b22;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.01) 1px, transparent 1px);

  background-size: 55px 55px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 12s ease-in-out infinite;
}

.beam {
  position: fixed;
  inset: 0;
  z-index: -15;
  pointer-events: none;
  overflow: hidden;
}

.beam::before {
  content: "";
  position: absolute;

  top: -20%;
  left: -20%;

  width: 40%;
  height: 200%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(34, 211, 238, 0.08),
    transparent
  );

  transform: rotate(20deg);

  animation: beamMove 12s linear infinite;
}

@keyframes beamMove {
  from {
    transform: translateX(-100%) rotate(20deg);
  }

  to {
    transform: translateX(300%) rotate(20deg);
  }
}